@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
breakpoint argument classes-
-phone      
-tab-port
-tab-land
-[normal]
-big-scr
1em = 16px
*/
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(3rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes marquee {
  0% {
    transform: translate3d(calc(10%), 0, 0); }
  100% {
    transform: translate3d(calc(-100%), 0, 0); } }

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0); }
  100% {
    transform: translate3d(calc(-50% + 10vw), 0, 0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
  color: #000;
  background: #f5f5f5; }

.u-center-text {
  text-align: center !important; }

.overflow-hidden {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

#temp text,
#humid text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 50px !important;
  transform: translateY(25px); }
  @media (max-width: 56.25em) {
    #temp text,
    #humid text {
      font-size: 30px !important; } }

.marquee {
  position: relative; }
  .marquee.animate .marquee__inner {
    animation-play-state: running; }
  .marquee .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(calc(10%), 0, 0);
    animation: marquee 16s linear infinite;
    animation-play-state: paused; }
    @media (max-width: 75em) {
      .marquee .marquee__inner {
        transform: translate3d(calc(-25% + 10vw), 0, 0);
        animation: marquee-lg 13s linear infinite;
        animation-play-state: paused; } }
